---
layout: default
title: Home
---



<!--
        <article class="post-item">
          <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
          <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
        </article>
-->


  <div class="post">
    <ul class="post-list">
    {% for post in site.posts %}
    <!-- year month -->
    <lu>
	{% unless post.next %}
        <h2 class="post-date-title">{{ post.date | date: '%Y %m' }}</h2>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y %m' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y %m' }}{% endcapture %}
      {% if year != nyear %}
        <h2 class="post-date-title">{{ post.date | date: '%Y %m' }}</h2> 
      {% endif %}
    {% endunless %}
	<!-- year month -->
	<!-- date -->
   {% unless post.next %}
         {{ post.date | date: '%m %-d' }}
    {% else %}
      {% capture date %}{{ post.date | date: '%m %-d' }}{% endcapture %}
      {% capture ndate %}{{ post.next.date | date: '%m %-d' }}{% endcapture %}
      {% if date != ndate %}
         {{ post.date | date: '%m %-d' }}
      {% endif %}
    {% endunless %} 
	<!-- date -->	
      </lu>
	  
      <lu>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
           </h3> 
		   <span class = "post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      </lu>
    {% endfor %}
  </ul>
  </div>
